<!-- TODO
    - fix coupling with bean object; if I add/change the bean model I have to also change this class

<tr>
    {% for attr in bean.__dict__.keys() %}
        {% if not attr.startswith('_') %}
        <th scope="col">{{ attr }}</th>
        {% endif %}
    {% endfor %}
</tr>
-->

<tr>
    <th scope="col">{{ bean.id }}</th>
    <th scope="col">{{ bean.name }}</th>

    {% if bean.country %}
    <th scope="col">{{ bean.country }}</th>
    {% else %}
    <th scope="col">-</th>
    {% endif %}

    {% if bean.region %}
    <th scope="col">{{ bean.region }}</th>
    {% else %}
    <th scope="col">-</th>
    {% endif %}

    {% if bean.description %}
    <th scope="col">{{ bean.description }}</th>
    {% else %}
    <th scope="col">-</th>
    {% endif %}

    <th scope="col">{{ bean.rating }}</th>

    <th scope="col">
        <a href="{{ url_for('edit_bean', bean_id=bean.id) }}">edit</a>
        <a href="{{ url_for('remove_bean', bean_id=bean.id) }}">remove</a>
    </th>
</tr>
