{% extends 'base.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}

{% block content %}

<!-- Coupling still exists with the table headings -->

<div class="container m-3" style="color: blue;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Region</th>
                <th scope="col">Description</th>
                <th scope="col">Rating</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for bean in beans %}
            {% include '_admin_beans.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}